<?xml version="1.0"?>
<!--
Copyright 2021 Clearpath Robotics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Modified by Reishabh Rathore <reishabhrathore2003@gmail.com> (2026)
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="caster" params="name parent_link *origin">
  <xacro:include filename="$(find glitch_description)/description/urdf/common_properties.urdf.xacro"/>

  <xacro:property name="radius" value="${1*cm2m}" />
  <xacro:property name="mass"   value="0.01"/>

  <joint name="${name}_joint" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${name}_link"/>
    <xacro:insert_block name="origin"/>
  </joint>
  <link name="${name}_link">
    <visual>
      <geometry>
        <sphere radius="${radius}"/>
      </geometry>
      <!-- Give black color to caster in Rviz -->
      <xacro:insert_block name="material_black"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="${radius}"/>
      </geometry>
    </collision>
    <xacro:inertial_sphere mass="${mass}" radius="${radius}"/>
  </link>

  <gazebo reference="${name}_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="${name}_link">
    <material>Gazebo/DarkGrey</material>
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
  </gazebo>

</xacro:macro>
</robot>
