<?xml version="1.0" ?>
<!--
Copyright 2021 Clearpath Robotics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Modified by Reishabh Rathore <reishabhrathore2003@gmail.com> (2026)
-->
<robot name="glitch" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Base robot model -->
  <xacro:include filename="$(find glitch_description)/description/urdf/robot.urdf.xacro" />
  <xacro:include filename="$(find glitch_description)/description/urdf/rplidar.urdf.xacro" />

  <!-- Mechanical properties -->
  <xacro:property name="rplidar_x_offset"              value="${0.393584*cm2m}"/>
  <xacro:property name="rplidar_y_offset"              value="${0*cm2m}"/>
  <xacro:property name="rplidar_z_offset"              value="${7.529272*cm2m}"/>

  <!-- glitch sensor definitions -->
  <xacro:rplidar name="rplidar" parent_link="base_link" gazebo="$(arg gazebo)">
    <origin xyz="${rplidar_x_offset} ${rplidar_y_offset} ${rplidar_z_offset + base_link_z_offset}"
            rpy="0 0 ${pi/2}"/>
  </xacro:rplidar>

  <!-- Base footprint for navigation -->
  <link name="base_footprint" />
  <joint name="base_footprint_joint" type="fixed">
    <!-- Create3's base_link is already on the ground -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="base_footprint" />
  </joint>
</robot>
