<?xml version="1.0"?>
<!--
Copyright 2021 Clearpath Robotics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Modified by Reishabh Rathore <reishabhrathore2003@gmail.com> (2026)
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="wheel_with_wheeldrop" params="name gazebo namespace parent_link:=base_link *origin">
  <xacro:include filename="$(find glitch_description)/description/urdf/wheel.urdf.xacro" />
  <xacro:include filename="$(find glitch_description)/description/urdf/wheel_drop.urdf.xacro" />

  <!-- Wheel Drop definition -->
  <xacro:wheel_drop name="${name}" gazebo="${gazebo}" parent_link="${parent_link}" namespace="${namespace}">
    <xacro:insert_block name="origin"/>
  </xacro:wheel_drop>

  <!-- Wheel definition -->
  <xacro:wheel name="${name}" gazebo="${gazebo}" parent_link="wheel_drop_${name}">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:wheel>

</xacro:macro>
</robot>
